@using MVC.BLL.ModelVM.Role
@model List<RoleVM>



    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
                <tr>
                
                    <td>@e.Name</td>
                </tr>
            }
        </tbody>
    </table>
}


