@using MVC.BLL.ModelVM.Department
@using MVC.BLL.ModelVM.ResultResponse
@model GetDepartmentVM

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Area</th>

            </tr>
        </thead>
        <tbody>
           
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.Name</td>
                    <td>@Model.Area</td>
                    
                </tr>
            
        </tbody>
    </table>



