@using MVC.BLL.ModelVM.Account
@model LoginVM

<div class="card">
    <div class="card-body">
        <form asp-action="Login" asp-controller="Account" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label for="UserName" class="form-label">UserName</label>
                <input asp-for="UserName" type="text" class="form-control" id="UserName">
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>


            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>





            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary w-100 me-2">Login</button>
                <a asp-action="Register" asp-controller="Account" class="btn btn-primary w-100">Register</a>
            </div>
        </form>
    </div>
</div>
