@using MVC.BLL.ModelVM.Account
@model RegisterEmployeeVM

<div class="card">
    <div class="card-body">
        <form asp-action="Register" asp-controller="Account" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label for="UserName" class="form-label">UserName</label>
                <input asp-for="UserName" type="text" class="form-control" id="UserName">
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>


            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input asp-for="Name" type="text" class="form-control" id="Name">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div class="mb-3">
                <label for="Salary" class="form-label">Salary</label>
                <input asp-for="Salary" type="number" class="form-control" id="Salary">
                <span class="text-danger" asp-validation-for="Salary"></span>
            </div>


            <div class="mb-3">
                <label for="Age" class="form-label">Age</label>
                <input asp-for="Age" type="number" class="form-control" id="Age" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label for="DepartmentId" class="form-label">Department</label>
                <select asp-for="DepartmentId" class="form-control" asp-items="@(ViewBag.Departments as List<Microsoft.AspNetCore.Mvc.Rendering.SelectListItem>)">
                    <option value="">-- Select Department --</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Image" class="form-label">Profile</label>
                <input asp-for="Image" type="file" class="form-control" id="Image">
                <span class="text-danger" asp-validation-for="Image"></span>
            </div>




            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
